.popup-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 500px;
  padding: 20px;
}

.popup-page .logo {
	display: flex;
	justify-content: center;
}

.popup-page .two-columns {
	display: grid;
	grid-template-columns: 1fr 196px;
	column-gap: 20px;
}

.popup-page .item {
	padding: 9px;
	border: 1px solid #DDDDDD;
	margin-bottom: 20px;
	border-radius: 4px;
	transition: 500ms;
}

.popup-page .action {
	border: none;
	margin-bottom: 0px;
	text-align: center;
}

.popup-page .item > label {
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	color: #333333;
}

.popup-page .item > span {
  display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	background: #F4F4F4;
	font-size: 11px;
	color: #AAAAAA;
	text-align: center;
}

.popup-page input[type="text"],
.popup-page input[type="date"],
.popup-page input[type="datetime"],
.popup-page input[type="email"],
.popup-page input[type="number"],
.popup-page input[type="search"],
.popup-page input[type="time"],
.popup-page input[type="url"],
.popup-page input[type="password"],
.popup-page textarea,
.popup-page select {
	width: 100%;
	height: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	line-height: 14px;
	padding: 0;
	border: none;
	outline: none;
}

.popup-page textarea {
	resize: none;
}

.popup-page .interval {
	display: grid;
	grid-template-columns: 1fr 36px 1fr;
}

.popup-page .period {
	display: grid;
	grid-template-columns: 1fr 24px 1fr;
}

.popup-page .interval span, 
.popup-page .period span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-page button[type="submit"],
.popup-page button[type="button"] {
  cursor: pointer;
	background: #3DA9F4;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 5px solid #169af5;
	border-radius: 4px;
	color: #D2E2FF;
}

.popup-page button[type="button"]:focus {
	border-bottom-color: #3DA9F4;
	outline: 0;
}

#messagesError {
	width: 100%;
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #33333380;
	color: #FFFFFF;
	border-radius: 10px 10px 0 0;
	text-align: center;
}